@import "variables";

article {
  align-items: center;
  figure img {
    object-fit: cover;
    max-width: 300px;
    width: 100%;
  }
}

.article-main {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.article-main-text {
  width: 50%;
  padding-right: 1rem;
  h2 {
    margin-top: 0;
  }
}

.article-main-img {
  order: 1;
  text-align: right;
  img {
    max-width: 540px;
    width: 100%;
  }
}

.article-md {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  p {
    margin: 0;
    font-size: 0.75rem;
  }

  p:first-child {
    font-weight: bold;
    color: $h-color;
    margin-bottom: .75rem;
  }

  img {
    margin-left: 2.5rem;
    cursor: pointer;
  }
}
