.banner {
    padding: 3rem 0;
    background: linear-gradient(211.87deg, #98D0FC 2.46%, #3481D7 93.24%);
    
    h1, p {
        color: white;
        font-weight: normal;
        text-align: center;
    }

    p {
        opacity: .78;
    }
}