.search-bar {
    margin-bottom: 4.5rem;
    margin-top: 4.5rem;
    padding: 1rem;
    align-items: center;
    border-radius: 10px;
    background-color: #f4f4f4;

    input {
        flex-grow: 1;
        border: none;
        background-color: inherit;
    }

    img {
        margin-right: .5rem;
    }
}